In [2]:
import csv
with open('student.csv', newline='') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=' ', quotechar='|')
    for row in spamreader:
        print(', '.join(row))

Id,Name,Age,Email
1,Noman, ,25,noman@gmail.com
2,Rehan,21,rehan@gmail.com
3,Adnan,19,adnan@gmail.com
4,Arfan,22,arfan@gmail.com
5,Ayaz,30,ayaz@gmail.com
6,Shyam,28,shyam@gmail.com

In [3]:
import csv
import mysql.connector
# Replace the placeholders with your actual MySQL database details
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="nawaz@123",
    database="employee"
)
cursor = conn.cursor()
with open('student.csv', 'r') as file:
    csv_data = csv.reader(file)
    next(csv_data)  # Skip header row if necessary

    for row in csv_data:
        # Assuming your CSV columns are in the order: name, age, email
        id=row[0]
        name = row[1]
        age = row[2]
        email = row[3]

        # Prepare and execute the SQL query
        sql = "INSERT INTO person (id,name, age, email) VALUES (%s,%s, %s, %s)"
        data = (id,name, age, email)
        cursor.execute(sql, data)
conn.commit()
cursor.close()
conn.close()

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)